.home {
  display: flex;
  gap: 200px;
  margin-top: 50px;
  align-items: center;
}

.homeTitle {
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(to bottom, #FFC100,#ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeText {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.homeButton {
  width: 110px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  padding: 6px;
  background-color: #b08800;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.homeButton:hover{
    transform: scale(1.1);
    background-color: #FFC100;
    color: black;
}
