.home {
  display: flex;
  gap: 200px;
  margin-top: 50px;
  align-items: center;
}

.homeTitle {
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(to bottom, #FFC100,#ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeText {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

